/*BAARRA DE NAVEGACIÓN*/
header, .nav-container {
    background-color: #2D5FAA !important;
}

/* Cambiar color del texto en la barra de navegación */
.navbar-nav .nav-link, .navbar-brand span, #inicio{
    color: #ffffff;
}

#img-logo{
    width: 60px;
    height: 40px;
}

.img-slide {
    width: 1920;
    height: 780;
}

#btn-login {
    border: 1px solid #ffffff;
    background-color: #2D5FAA;
}

#btn-login:hover {
    background-color: #5883c4;
}

/*CUERPO DE LA PÁGINA*/
hr {
    background-color: #2D5FAA;
}

section.section-margin, footer {
    margin-top: 60px;
}

h2 {
    color: black;
    padding-top: 70px;
}

.texto-justificado {
    text-align: justify;
}

#img-inicio {
    width: 100%;
    height: 96%;
}

#nosotros h3 {
    text-align: center;
}

#mision, #vision {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}

#mision {
    color: #ffffff;
    background-color: #2D5FAA;
}

#vision {
    background-color: rgba(45, 95, 170, 0.7);
}

#oferta {
    color: #2D5FAA;
    margin-top: 20px;
}

#oferta h3 
{
    text-align: center;
}

.div-oferta {
    border: 1px solid #2D5FAA;
    padding: 20px;
}

/*Sistema Gestion Académica*/
#sistema .row{
    background-image: linear-gradient(rgba(45, 95, 170, 0.39), rgba(45, 95, 170, 0.39)), url('../img/sga.jpg');
    background-size: cover; 
    background-position: center; 
    height: 90vh; 
    
}

.father-box-sga {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.box-sga {
    background-color: rgba(15, 63, 135, 0.82);
    color: white;
    margin-top: 10px;
    padding: 20px;
    width: 50vh;
    height: 40vh;
    text-align: center;
}

.img-sga {
    padding: 6vh;
    width: 50%;
    margin: auto;
}

/*Formulario*/
#contacto {
    color: #2D5FAA;
}

form {
    width: 75%;
    margin: auto;
}

#btn-submit {
    width: 150px;
    background-color: #2D5FAA;
    color: white;
    border: 1px solid #2D5FAA; 
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    
}

#btn-submit:hover {
    background-color: #4883db;
}

/*FOOTER*/
footer {
    background-color: #2D5FAA;
    color: #ffffff;
}

footer .div-footer {
    margin-top: 30px;
}

footer .div-footer img {
    width: 200px;
    height: 120px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.div-footer {
    text-align: center;
}

.div-footer ul{
    list-style-type: none;
}

#icons-section {
    margin-top: 90px;
}

.social-icons {
    font-size: 2rem;
    color: #ffffff; 
    margin-left: 20px;
  }

  .social-icons:hover {
    color: #b4bcc5; 
}