p {
    text-align: justify;
}

h4 {
    text-align: center;
}

#login-page {
    background-image: linear-gradient(rgba(240, 242, 245,0.3), rgba(240, 242, 245,0.3)), url('../img/foto-sga.jpg');
}

#sidebar {
    width: 25%;
    background-color: #2D5FAA !important;
}

.nav-link {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #2D5FAA;
}

.nav-link:hover {
    background-color: #4575bd;
}

#content {
    background-image: linear-gradient(rgba(240, 242, 245,0.95), rgba(240, 242, 245,0.95)), url('../../img/logo-colegio-sin-fondo.png');
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}